#react

    # todo: add core ignores


# .net core api

    # todo: add core ignores

# specific files
/home/adarsh/dev/codefluent/flowingly-technical-test/project-context/requirements-and-analysis/Full Stack Engineer Test (Sen) V2.pdf:Zone.Identifier
/home/adarsh/dev/codefluent/flowingly-technical-test/project-context/general-notes.md